.hero-section {
  background-image: url("../../assets/hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}
h1 {
  color: #fff;
  font-size: 160px;
}
