.hero-site{
   opacity: 1;
  pointer-events: auto;
  background-color: #000;
  justify-content: center;
  align-items: flex-start;
  min-height: 350vh;
  position: relative;
  overflow: visible;
  display: flex;
}
.herosite {
  z-index: 1;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  background-color: transparent;
  flex-flow: column;
  grid-template-rows: auto;
  grid-template-columns: 1.5fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  place-items: center stretch;
  width: 100%;
  height: 100vh;
  min-height: auto;
  display: flex;
  position: relative;
}

.imagehero {
  z-index: 1;
  mix-blend-mode: luminosity;
  object-fit: contain;
  width: 100%;
  height: 100%;
  position: relative;
}
.hero-image{
  mix-blend-mode: normal;
  background-color: #110d5a;
  width: 100%;
  max-width: none;
  height: 100%;
  position: relative;
}
.blurelipse{
  z-index: 0;
  aspect-ratio: 1 / 1;
  opacity: 1;
  filter: blur(10rem);
  background-color: rgba(206, 206, 206, 0.2);
  border-radius: 50%;
  width: 60%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  right: auto;
  transform: translate(-50%, 50%);
}
.contentservices{
  position: absolute;
  right: 150px;
  top: 165px;
}
.creditsregister{
   position: absolute;
  left: 150px;
  top: 165px; 
}