.about,
.metrics {
  h3 {
    color: aliceblue;
    font-size: 3em;
  }
}
.aboutus-title {
  text-align: center;
  margin: 66px 0;
  font-size: 26px;
}
.metrics {
  display: flex;
  flex-direction: column;
  img {
    max-width: 100%;
    object-fit: cover;
    object-position: 180% 100%;
  }
}
