ul li:last-child a {
  padding: 12px 15px;
  border-radius: 100px;
  border: 1px solid #ffffff30;
  box-shadow: -3px 0px 3px 3px #00000020;
  // box-shadow: -5px 3px 4px 10 #ffffff inset;
}
nav {
}
.navbar {
  background-color: aliceblue;
}
