h3 {
  color: black;
}
.testimonial p,
.testimonial h3 {
  color: #fff;
}
.card img {
  border-radius: 40px;
  height: 120px;
  width: 120px;
  margin: auto;
}
.card p {
  font-weight: 300px;
  padding: 20px 0;
}
